.App {
  text-align: center;
  overflow: hidden;
  /* width: 100vw; */
}

.App::-webkit-scrollbar{
  display: none;
}

.player {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

button {
  background: transparent;
  border: none;
  color: #fff;
}

p {
  color: #fff;
}

input {
  background: rgba(255, 255, 255, 1);
  padding: 3px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin: 3px;
}

.active {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 255, 234),
    0 0 82px rgb(0, 255, 234),
    0 0 92px rgb(0, 255, 234),
    0 0 102px rgb(0, 255, 234),
    0 0 151px rgb(0, 255, 234);
}

.notActive {
  color: lightgrey;
}

.icon {
  transition: all 1s ease;
}

.icon:hover {
  /* font-size: 30px; */
  color: rgb(167, 227, 222);
  filter: drop-shadow(0px 4px 2px rgb(0, 255, 234));
}

/* starting ENTER animation */
.playingStation-enter {
  /* right: 50px; */
  /* left: calc(13% + 5px);
  right: calc(13% + 5px); */
  position: absolute;
  right:30%;
  opacity: 0%;
  color: white !important;
  filter: drop-shadow(0px) !important;
  transform: scale(20%) translateX(400%);
  transition: all 2000ms ease-in-out;
  white-space: nowrap;
  filter: drop-shadow(2px 2px 2px white) !important;

}

/* ending ENTER animation */
.playingStation-enter-active {
  /* position: absolute; */
  white-space: nowrap;
  opacity: 0%;
  /* color: blue !important; */
  transform: scale(70%) translateX(10%);
  transition: all 2000ms ease-in-out;
  filter: drop-shadow(2px 2px 2px white) !important;
}

.playingStationText {
  opacity:100%;
  color:#99c5eb;
  filter: drop-shadow(1px 2px 2px #47a0ee);
  transition: all 1000ms ease-in-out;
  white-space: nowrap;
  font-size: 35px;
}

/* starting EXIT animation */
.playingStation-exit {
  /* position: absolute; */
  opacity: 60%;
  /* color: blue !important; */
  /* transform: scale(1.01); */
  transition: all 2000ms ease-in-out;
  transform: scale(60%) translateX(0%);
  filter: drop-shadow(1px 1px 1px white) !important;
}

/* ending EXIT animation */
.playingStation-exit-active {
  /* position: absolute; */
  opacity: 0%;
  color: white !important;
  filter: drop-shadow(1px 1px 1px white) !important;
  /* transform: scale(4); */
  transition: all 2000ms ease-in-out;
  transform: scale(0%) translateX(0%);
}

.logoAnimation {
  position: absolute;
  top: -100px;
  left: 10px;
  width:200px;
  transition: all 2000ms ease-in-out;
  opacity:0%;
}

.logoAnimation-active{
  opacity:100%;
  top:40px;
}

.stations{
  position: absolute;
  top: 150px;
  left: 20px;
  transition: all 2000ms ease-in-out;
  /* opacity:0%; */
  z-index: 1000;
}

.stations-active{
  opacity:0%;
  left:100px;
}