.App {
  text-align: center;
  overflow: hidden;
  /* width: 100vw; */
}

::-webkit-scrollbar {
  display: auto;
  width: 0px;
  height: 0px;
}

.player {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  width: 70%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.volumeSection {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.volumeBar {
  position: relative;
  /* margin: 0 auto; */
  width: 200px;
  display: flex;
  margin: 0px 10px 0px 10px;
  /* height: 20px; */
}

.volumeBar input {
  padding: 4px;
  position: absolute;
  width: 200px;
  height: 15px;
  -webkit-appearance: none;
  background-color: transparent;
  left: -6px;
  top: -13px;
  z-index: 99;
}

.volumeBar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgb(157, 202, 209);
  filter: drop-shadow(0px 0px 5px rgb(0, 255, 234)) ;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
}

.volumeBar progress {
  width: 200px;
  height: 15px;
  -webkit-appearance: none;
  position: absolute;
  top: -7px;
  z-index: 98;
  border-radius: 10px;
  overflow: hidden;
}

.volumeBar progress::-webkit-progress-bar {
  background-color: #fff;
}

.volumeBar progress::-webkit-progress-value {
  border-radius: 40px;
  background-color: rgb(167, 227, 222);
}

button {
  background: transparent;
  border: none;
  color: #fff;
}

p {
  color: #fff;
}

form input {
  background: rgba(128, 232, 246, 0.4);
  padding: 3px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin: 3px;
  outline: none;
  padding: 5px;
  color: aliceblue;
}

form input::placeholder {
  color: aliceblue;
}

.active {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 255, 234),
    0 0 82px rgb(0, 255, 234),
    0 0 92px rgb(0, 255, 234),
    0 0 102px rgb(0, 255, 234),
    0 0 151px rgb(0, 255, 234);
}

.notActive {
  color: lightgrey;
}

.icon {
  transition: all 1s ease;
}

.icon:hover {
  /* font-size: 30px; */
  color: rgb(167, 227, 222);
  filter: drop-shadow(0px 4px 2px rgb(0, 255, 234));
}

/* starting ENTER animation */
.playingStation-enter {
  position: absolute;
  right:20%;
  opacity: 0%;
  color: white !important;
  filter: drop-shadow(0px) !important;
  transform: scale(20%) translateX(400%);
  transition: all 2000ms ease-in-out;
  white-space: nowrap;
  filter: drop-shadow(2px 2px 2px white) !important;

}

/* ending ENTER animation */
.playingStation-enter-active {
  /* position: absolute; */
  white-space: nowrap;
  opacity: 0%;
  /* color: blue !important; */
  transform: scale(70%) translateX(40%);
  transition: all 2000ms ease-in-out;
  filter: drop-shadow(2px 2px 2px white) !important;
}

@media(max-width:800px){
  .playingStation-enter-active{
    transform: scale(70%) translateX(20%);
  }
}

.playingStationText {
  opacity: 100%;
  color: #99c5eb;
  filter: drop-shadow(1px 2px 2px #47a0ee);
  transition: all 1000ms ease-in-out;
  white-space: nowrap;
  font-size: 35px;
}

/* starting EXIT animation */
.playingStation-exit {
  /* position: absolute; */
  opacity: 60%;
  /* color: blue !important; */
  /* transform: scale(1.01); */
  transition: all 2000ms ease-in-out;
  transform: scale(60%) translateX(0%);
  filter: drop-shadow(1px 1px 1px white) !important;
}

/* ending EXIT animation */
.playingStation-exit-active {
  /* position: absolute; */
  opacity: 0%;
  color: white !important;
  filter: drop-shadow(1px 1px 1px white) !important;
  /* transform: scale(4); */
  transition: all 2000ms ease-in-out;
  transform: scale(0%) translateX(0%);
}

.logoAnimation {
  position: absolute;
  top: -100px;
  left: 10px;
  width: 200px;
  transition: all 2000ms ease-in-out;
  opacity: 0%;
}

.logoAnimation-active {
  opacity: 100%;
  top: 40px;
}

.stations {
  position: absolute;
  top: 150px;
  left: 20px;
  transition: all 2000ms ease-in-out;
  /* opacity:0%; */
  z-index: 10;
  width: 250px;
  height: 500px;
  overflow: auto;
}

.stations::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.stations::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.stations::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 234);
  border-radius: 20px;
}

/* Handle on hover */
.stations::-webkit-scrollbar-thumb:hover {
  background: #47a0ee;
}

/* .stations-active {
  opacity: 0%;
  left: 100px;
} */

@media(max-width:800px) {
  .logoAnimation{
    left:0px;
  }
  .stations{
    left:10px;
    height: 450px;
    width: 200px;
  }
}