.App {
  text-align: center;
  overflow: hidden;
}

.player{
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

button{
  background:transparent;
  border: none;
  color: #fff;
}

p{
  color: #fff;
}

input{
  background: rgba(5,5,5,0.3);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin:3px;
}

